{% extends 'base.html'%}

{% block content %}


<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{the_pitch.title}}</div>
  <div class="card-body">
    <h5 class="card-title">{{the_pitch.pitch}}</h5>
    <a class="btn btn-primary" href="/pitch/new_comment/{{the_pitch.id}}">ADD COMMENT</a>
  </div>



</div>

{% for comment in comments %}
  <div class="container-fluid">
    <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card">
                <h1 class ='card-title'>{{comment.comment}}</h1>
                <div class="card-body">
                <a class="btn btn-primary" href="/pitch/{{the_pitch.id}}">More Details</a>
                </div>
            </div>
        </div>
  </div>
{% endfor %}
{% endblock %}